[submodule ".github-pages"]
	path = .github-pages
	url = git@github.com:wsadev01/blog
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/wsadev01/nvim.git
[submodule ".config/i3"]
	path = .config/i3
	url = git@github.com:wsadev01/i3
[submodule ".config/picom"]
	path = .config/picom
	url = git@github.com:wsadev01/picom
[submodule ".config/polybar"]
	path = .config/polybar
	url = git@github.com:wsadev01/polybar.git
[submodule ".config/global-dotfiles"]
	path = .config/global-dotfiles
	url = git@github.com:wsadev01/global-dotfiles
[submodule ".scripts"]
	path = .scripts
	url = git@github.com:wsadev01/scripts.git
